/* mulish font by google fonts */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Mulish:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&family=Work+Sans:wght@300;400;500;600;700;800&display=swap");

/* commonly shared styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

.btn-primary {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  border: none;
  color: #fff;
}

.section-title {
  color: #131318;
  text-align: center;
  font-size: 40px;
  margin-bottom: 24px;
  font-weight: 800;
}
.section-description {
  color: rgba(19, 19, 24, 0.7);

  line-height: 26px;
}
section {
  margin-top: 100px;
}
/* header related styles */

header {
  max-width: 1440px;
  padding: 0 130px;
  margin: 50px auto;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.nav-title-container {
  display: flex;
  gap: 10px;
  align-items: center;
}
.nav-title {
  color: #131318;

  font-size: 36px;

  font-weight: 800;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 44px;
}
nav li a {
  text-decoration: none;
  color: #424247;
  text-align: center;

  font-size: 18px;
}
nav li a.active {
  color: #ff5400;

  font-weight: 700;
}
.special-color {
  color: #ff5400;

  font-size: 36px;

  font-weight: 800;
}

/* nav label {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 20px;
  z-index: 2;
}
.menu-icon {
  display: none;
}
#menu-toggle {
  display: none;
}

#menu-toggle:checked + .menu-icon + nav ul {
  display: block;
} */

/* banner related styles */

.banner {
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../images/Group\ 13\ \(1\)\ \(1\).png");

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  margin-top: 50px;
}

.banner-title {
  color: #fff;

  font-size: 64px;

  font-weight: 800;
}
.banner-description {
  color: #fff;
  text-align: center;
  width: 676px;
  margin-top: 24px;
  margin-bottom: 48px;
  line-height: 26px; /* 162.5% */
}

.input-container {
  display: inline-flex;
  gap: 24px;
  padding: 16px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}
.input-container input,
select {
  width: 174px;
  /* height: 52px; */
  color: rgba(19, 19, 24, 0.5);
  padding: 15px;
  border-radius: 8px;
  border: none;
}

.input-container input[type="submit"] {
  width: 174px;
  padding: 15px;
  border-radius: 8px;
  border: none;
}
/* main related styles */
main {
  max-width: 1440px;
  padding: 0 130px;
  margin: 50px auto;
}

/* popular section related styles */
.popular {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-between;
}

.popular-section-content li {
  margin-top: 16px;
  list-style-position: inside;
}

.popular .btn-primary {
  margin-top: 30px;
}

/* destination section related styles */

.destination .section-description {
  text-align: center;
  width: 525px;
  margin: 24px auto;
}
.destination-img-container {
}
.img-box-row {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}
.img-box {
  position: relative;
  border-radius: 16px;
}
.img-box img {
  border-radius: 16px;

  width: 100%;
}
.img-title {
  color: #fff;

  font-size: 28px;

  font-weight: 800;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
