/* responsive styles */
@media screen and (max-width: 600px) {
  /* nav li {
    text-align: center;
    width: 100%;
    margin: 10px 0;
  }

  .menu-icon {
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
  }

  nav ul {
    display: none;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #333;
  }

  #menu-toggle:checked + .menu-icon {
    background-color: #333;
  }

  #menu-toggle:checked + .menu-icon + nav ul {
    display: flex;
  }
  .menu-icon:hover nav > ul {
    display: flex;
  } */
  nav {
    margin: 20px 0;
  }
  .nav-title-container img {
    width: 33px;
    height: 33px;
  }
  nav ul {
    display: none;
  }
  header {
    padding: 20px;
    margin: 0;
  }
  .nav-title,
  .special-color,
  .img-title {
    font-size: 21px;
  }
  .banner-title {
    font-size: 24px;
  }
  .banner-description {
    font-size: 14px;
    width: 300px;
    line-height: 21px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 0 20px;
  }
  .input-container {
    flex-direction: column;
    width: 287px;
  }
  .input-container input,
  select {
    width: auto;
  }
  .input-container .btn-primary {
    width: 100%;
  }
  main {
    margin: 0px auto;
    padding: 20px;
  }
  .popular,
  .get-lost {
    flex-direction: column;
  }
  .popular-img-container img {
    width: 100%;
  }
  .popular .section-title {
    text-align: start;
    margin-top: 0;
  }
  .section-title {
    font-size: 20px;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 16px;
  }
  .section-description {
    font-size: 14px;
    width: auto;
  }
  .destination .section-description,
  .choose-us .section-description,
  .card-description {
    width: auto;
  }

  .img-box-row {
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
  }
  .img-box {
    height: 300px;
  }
  .img-box img {
    height: 100%;
    width: 100%;
  }
  section {
    margin-top: 30px;
  }
  .deals-card-container {
    height: 500px;
  }
  .deals-card-container .card-bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
  }
  .deal-card-content,
  .deal-card-content2 {
    padding: 16px;
    left: 50px;
    right: 50px;
  }
  .deal-card-content .card-description,
  .deal-card-content2 .card-description {
    height: 50px;
    overflow: hidden;
  }
  .deal-info {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }
  .get-lost-content {
    width: 100%;
  }
  .deals .btn-primary {
    margin: 0;
  }
  .get-lost-content li {
    font-size: 14px;
    margin-bottom: 16px;
  }
  .get-lost .section-title {
    width: 248px;
    text-align: start;
    line-height: 30px;
    margin-bottom: 0;
    margin-bottom: 16px;
  }
  .get-lost .section-description {
    margin-bottom: 16px;
  }
  .get-lost .btn-primary {
    margin: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  header,
  main {
    padding: 0px 30px;
  }
  nav ul li {
    margin-right: 20px;
  }
  .deals-card-container {
    height: 500px;
  }
  .deals-card-container .card-bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
  }
  .get-lost .section-description {
    width: auto;
  }
  .popular-img-container img {
    width: 100%;
  }
  .popular-section-content {
    width: 50%;
  }
}
